@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
*::-webkit-scrollbar {
  width: 6px !important;
  height: 10px !important;
  background-color: var(--xlight-green);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--light-green);
}
* {
  font-family: cairo !important;
}
:root {
  --xdark-green: #1e5049;
  --dark-green: #24574a;
  --hover-green: #ffffff65;
  --xlight-green: #addec3;
  --light-green: #378600;
}
/* :root {
  --background: #ffffff;
  --xdark-green: #082129;
  --dark-green: #102801;
  --light-green: #bcf20a;
  --hover-green: #68cb02;
  --xlight-green: #55a801;
  /* --light-green: #4d995b;
} */
/* :root {
  --background: #ffffff;
  --xdark-green: #212529;
  --dark-green: #343a40;
  --light-green: #f8f9fa;
  --hover-green: #dee2e6c4;
  --xlight-green: #f8f9fa;
  --light-green: #49505798;
} */

@theme inline {
  --color-background: var(--background);
  --color-darkgreen: var(--dark-green);
  --color-bg: var(--background);
  --color-lightgreen: var(--light-green);
  --color-xlightgreen: var(--xlight-green);
  --color-xdarkgreen: var(--xdark-green);
  --color-hovergreen: var(--hover-green);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@keyframes custompulse {
  0%,
  100% {
    opacity: 1;
    transform: scale(1.03);
  }
  50% {
    opacity: 0.05;
    transform: scale(1);
  }
}

.pulse {
  animation: custompulse 3s infinite;
}

.cube {
  transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(0deg) rotateZ(-3deg)
    translateX(0px) translateY(0px) translateZ(0px) skewX(12deg) skewY(0deg);
}
